:root {
    --primary-color: #d36336;
    --secondary-color: #031d44;
    --accent-color1: #fce864;
    --accent-color2: #FFFDED;
}
h1 {
    background-color: rgb(211, 99, 54, 0.6);
    color: var(--accent-color2);
    font-size: 55px;
}
h3 {
    font-size: 30px;
}
p {
    background-color: rgb(3, 29, 68, 0.8);
    color: var(--accent-color2);
    font-size: 18px;
}
a {
    text-decoration: none;
}
div {
    max-width: 1200px;
}
.logo-box {
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 1em;
}

div .hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 280px;
    left: 50px;
    padding-inline: 180px;
}
.hero article {
    position: absolute;
    top: 650px;
    left: 50px;
    max-width: 1100px;
}
.hero article p, h3 {
    background-color: rgb(3, 29, 68, 0.8);
    color: var(--accent-color2);
    padding-inline: 50px;
    padding-block:  20px;
    margin: 0;
}
.hero article img {
    display: block;
    width: 300px;
    float: right;
    padding:10px;
}
nav a img {
    margin: 10px;
    float: right;
    width: 30px;
}