:root {
    --primary-color: #d36336;
    --secondary-color: #031d44;
    --accent-color1: #fce864;
    --accent-color2: #FFFDED;
}
* {
    font-family: poppins;
}
.logo-box {
    display: grid;
    grid-template-columns: 450px auto;
    place-items: center;
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 2px;
}
.logo-box nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}
.logo-box nav a{
    text-decoration: none;
    background-color: var(--accent-color2);
    padding-inline: 1rem;
    border: var(--secondary-color) solid 2px;
    font-size: larger;
}
.hero {
    position: relative;
    min-width: 80%;
}
div {
    max-width: 1200px;
    min-width: 80%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    font-family: "Permanent Marker";
    position: absolute;
    top: 20px;
    left: 100px;
    padding-inline: 100px; 
    margin-right: 100px;
    background-color: rgb(3, 29, 68, 0.8); 
    color: var(--accent-color2);
    font-size: 50px;
}
.hero article {
    position: absolute;
    top: 300px;
    left: 100px;
    max-width: 1050px;
}
.about h3 {
    font-size: 30px;
}
.about{
    display: block;
    background-color: rgb(3, 29, 68, 0.8);
    color: var(--accent-color2);
}
.hero article p {
    font-size: 20px;
}
.hero article p, .hero article h3 {
    padding-inline: 50px;
    padding-block:  10px;
    margin: 0;
}
.hero article img {
    display: block;
    width: 300px;
    float: right;
    padding:10px;
}
nav a img {
    margin: 10px;
    float: right;
    width: 30px;
}
.history {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: var(--primary-color);
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
    
}
.history h2 {
    font-size: 40px;
    grid-column: 1/4;
    color: var(--accent-color1);
    text-align: center;    
}
.history p {
    padding: 10px;
    margin: 10px;
    color: var(--secondary-color);
    background-color: var(--accent-color2);
}
.adventure {
    display: grid;
    justify-content: space-around;
    background-color: var(--accent-color2);
    text-align: center;
}
.adventure h2 {
    grid-column: 1/6;
    color: var(--secondary-color);
    font-size: 40px;

}
.adventure figure img {
    grid-row: 1/2;
    width: auto;
    height: 100px;
    margin: 5px;
    border: #031d44 solid 1px;
}
.adventure p {
    margin: 20px;
}
.adventure figure { 
    color: var(--secondary-color);   
}
footer {
    display: grid;
    grid-template-columns: 1000px auto auto auto;
    background-color: var(--secondary-color);
    color: var(--accent-color2);
    padding: 10px;
    max-width: 1180px;
    text-align: center;
    
}
.sociallinks{
    text-decoration: none;
}
footer a:visited {
    color: var(--accent-color2);
}
main .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    background-color: var(--accent-color1);  
}
.contact a,.contact table{
    grid-column: 1/3;
    text-align: center;
}
.contact img{
    width: 300px;
}
.top h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.top h3, .top p { 
    font-size: 20px; 
    padding: 0;
    margin-left: 50px;
}
.map {
    text-align: center;
}
.profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--secondary-color);
    color: var(--accent-color2);
}
.profile h1 {
    grid-column: 1/4;
    text-align: center;
}
.profile img {
    height: 250px;
    justify-content: space-between;
    align-content: center;
    padding: .5rem;
}
.profile figure{
    text-align: center;
}
form {
    width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    border: black solid 2px;
    border-radius: 1em;
    background-color: var(--accent-color1);
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: black solid 2px;
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}
label, input, button, select, textarea {
    font-family: Arial; 
    font-size: 1.2rem;  
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type='checkbox'] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    margin: 0 400px;
    background-color: midnightblue;
    color:honeydew;
    border: none;
    border-radius: 1rem;
    padding: .7rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: darkslategrey;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0;
}
.column3 {
    text-align-last: left;
    margin-top: 15px;
}
.column4 {
    grid-template-columns: repeat(3, 1fr 2fr);
    text-align: center;
}
table {
    font-size: 1.2em;
}
table tr th {
    background-color: var(--primary-color);
}
table tr td {
    background-color: var(--accent-color2);
}
main .trip {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
